.alert {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.alert-info {
    background-color: #d1ecf1;
    border-color: #bee5eb;
    color: #0c5460;
}

.alert-narrow {
    max-width: 300px;
    word-wrap: break-word;
}

@media (max-width: 768px) {
    .alert-narrow {
        max-width: 100%;
    }
}
